$color-paleblue: hsl(225, 100%, 94%);
$color-brightblue: hsl(245, 75%, 52%);
$color-verypaleblue: hsl(225, 100%, 98%);
$color-desaturatedblue: hsl(224, 23%, 55%);
$color-darkblue: hsl(223, 47%, 23%);
$color-white: #FFF;
// mixins
$breakpoints: (
    mobile: 375px,
    ipad: 700px
);
@mixin mobile-only {
    @media all and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

// mixins

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $color-desaturatedblue;
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: $color-paleblue;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    place-items: center;
}
button {
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 700;
}

.card {
    max-width: 380px;
    height: 560px;
    border-radius: 1rem;
    background-color: $color-white;
    text-align: center;
    overflow: hidden;
    &__image{
        width: 100%;
    }
    @include mobile-only {
        width: 325px;
        line-height: 1.55rem;
        img {
            width: 100%;
        }
    }
    &__content {
        display: grid;
        gap: 1rem;
        padding: 2rem 3rem;
        @include mobile-only {
            padding: 1.5rem;
            h1 {
                font-size: 1.25rem;
                font-weight: 900;
            }
        }
        h1 {
            color: $color-darkblue;
            font-size: 1.40rem;
        }
        p{
            font-size: .9rem;
        }
        .plan{
            width: 100%;
            border-radius: .5rem;
            padding: 1rem;
            margin: auto;
            background-color: $color-verypaleblue;
            display: flex;
            gap: 1.4rem;
            align-items: center;
            &__image{
                width: 40px;
                height: 40px;
                img{
                    width: 100%;
                }
            }
            @include mobile-only{
                padding: 1rem;
                margin-top: 1rem;
            }
            &__detail {
                h2 {
                    color: $color-darkblue;
                    font-size: .9em;
                }
            }
            .button-underline {
                text-decoration: underline;
                color: $color-brightblue;
                margin-left: auto;
                padding: 0;
                &:hover {
                    color: $color-desaturatedblue;
                    text-decoration: none;
                }
            }
        }
        .button-blue {
            font-size: .75rem;
            padding: .85rem;
            background-color: $color-brightblue;
            color: $color-white;
            border-radius: 10px;
            margin-top: .7rem;
            box-shadow: 0px 7px 60px $color-desaturatedblue;
            @include mobile-only{
                margin-top: .5rem;
            }
            &:hover {
                background-color: $color-desaturatedblue;
            }
        }
        .button-transparent {
            font-size: .8rem;
            color: $color-desaturatedblue;
            margin-top: .4rem;
            &:hover {
                color: $color-darkblue;
            }
        }
    }
}
